<!DOCTYPE html>
  <html>

  <head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    {% block head %}
      
    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
  </head>  

  <body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <a href="{{url_for('cust_prof', cust_id=ID)}}" class="w3-bar-item w3-button" onclick="w3_close()">MY PROFILE</a>
      <a href="{{url_for('cust_place_order', cust_id=ID)}}" class="w3-bar-item w3-button" onclick="w3_close()">DEL BOY INFO</a>
      <a href="{{url_for('cust_order', cust_id=ID)}}" class="w3-bar-item w3-button" onclick="w3_close()">ORDER INFO</a>
    </div>
  
    <div id="main">
  
      <div class="w3-black">
        <button id="openNav" class="w3-button w3-black w3-xlarge" onclick="w3_open()">&#9776;</button>
        <span id="text" style="margin-left: 42%;">MANAGER PAGE</span>    
      </div>
      {% block body %}
      {% endblock %}
  
    </div>

  
    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'inline-block';
      document.getElementById("text").style.marginLeft="40%";
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>
  </body>  