<!DOCTYPE html>
  <html>

  <head>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    
      
    <title></title>

    
  </head>  

  <body>

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
      <button class="w3-bar-item w3-button w3-large"
      onclick="w3_close()">Close &times;</button>
      <a href="{{url_for('manager_prof',manager_id=deliv.manager_id)}}" class="w3-bar-item w3-button" onclick="w3_close()">MY PROFILE</a>
      <a href="{{url_for('manager_deliv',manager_id=deliv.manager_id)}}" class="w3-bar-item w3-button" onclick="w3_close()">DEL BOY INFO</a>
      <a href="{{url_for('manager_order', manager_id=deliv.manager_id)}}" class="w3-bar-item w3-button" onclick="w3_close()">ORDER INFO</a>
    </div>
  
    <div id="main">
  
      <div class="w3-black">
        <button id="openNav" class="w3-button w3-black w3-xlarge" onclick="w3_open()">&#9776;</button>
        <span id="text" style="margin-left: 42%;">MANAGER PAGE</span>    
      </div>
    
      <div class="text-center container mt-5" style="width: 30vw;">
        <br>
        <h1 class="h3 mb-3 font-weight-normal">ADD DEL BOY</h1>
        <form action="{{url_for('manager_deliv',manager_id=deliv.manager_id)}}" method="POST">
        
        <label for="manager_id" class="sr-only">Manager ID</label>
        <input type="text" id="manager_id" class="form-control" name="manager_id" value="{{deliv.manager_id}}" disabled />
            
        <br>
        <label for="dboy_name" class="sr-only">DBoy Name</label>
        <input type="text" id="dboy_name" class="form-control" name="dboy_name" placeholder="DBoy Name" required autofocus />
    
        <br>
        <label for="dboy_ph" class="sr-only">DBoy Ph</label>
        <input type="text" id="dboy_ph" class="form-control" name="dboy_ph" placeholder="DBoy Ph" required autofocus/>
        <br>
        <label for="age" class="sr-only">Age</label>
        <input type="text" id="add" class="form-control" name="age" placeholder="Age" required autofocus/>

        <br>

        <label for="area_code" class="sr-only">Area Code</label>
        <select class="form-control"   id="area_code" name="area_code">
          
          <option value="1">1 : 1</option>
          <option value="1">2 : 2</option>
          
       </select>
        <!-- <input type="text" id="area_code" class="form-control" name="area_code" placeholder="Area Code" required autofocus /> -->
        <br>

        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" class="form-control" name="email" placeholder="Email" required autofocus />
        <br>

        <label for="pwd" class="sr-only">Pwd</label>
        <input type="password" id="pwd" class="form-control" name="pwd" placeholder="Password" required autofocus />
        <br>

        <button type="submit" class="btn btn-primary btn-lg">ADD DEL BOY</button>
        </form>
    </div>

  
    <script>
    function w3_open() {
      document.getElementById("main").style.marginLeft = "25%";
      document.getElementById("mySidebar").style.width = "25%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'inline-block';
      document.getElementById("text").style.marginLeft="40%";
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }
    </script>
  </body>  