{% extends "manager.html" %}

{% block head %}

{% block title %}
{% endblock %}

{% endblock %}

{% block body %}
<div class="text-center container" style="width: 330px;">
    <form action="{{url_for('manager_prof',manager_id=profile.manager_id)}}" method="POST">
    <br>
        <h1 class="h3 mb-3 font-weight-normal">EDIT PROFILE</h1>

        <label for="manager_id" class="sr-only">Manager ID</label>
        <input type="text" id="manager_id" class="form-control" name="manager_id" value={{profile.manager_id}} disabled/>
        <br>
        <label for="manager_name" class="sr-only">Manager Name</label>
        <input type="text" id="manager_name" class="form-control" name="manager_name" value={{profile.manager_name}} required autofocus />
    
        <br>
        <label for="manager_ph" class="sr-only">Manager Ph</label>
        <input type="text" id="manager_ph" class="form-control" name="manager_ph" value={{profile.manager_ph}} required autofocus/>
        <br>
        <label for="age" class="sr-only">Age</label>
        <input type="text" id="add" class="form-control" name="age" value={{profile.age}} required autofocus/>

        <br>

        <label for="pwd" class="sr-only">Pwd</label>
        <input type="text" id="pwd" class="form-control" name="pwd" value={{profile.pwd}} required autofocus />
        <br>
        <button type="submit" class="btn btn-dark" name="btnAddMore" >Submit</button>
    </form>    
        


{% endblock %}